.component {
  z-index: 1001;
  position: relative;
  background-color: white;
  box-backdrop: 0 0 10px 10px #ffffff;
}

.backdrop_container {
  z-index: 1000;
  position: relative;
}

.backdrop_content {
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.render_on_backdrop {
  box-backdrop: 0 0 10px 10px #ffffff;
  background: #ffffff;
}

.backdrop {
  background-color: #000000;
  opacity: 0.7;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
