.backdrop_content {
  z-index: 1001;
  position: absolute;
}

.backdrop_content_center {
  z-index: 1001;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
